<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>Suite Test</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="6fc185">  <td>19/06/17 14:55:31</td>   <td>0</td> <td title="&gt;&gt;CoreClass.setUp()[pri:0, instance:testClass.AddyTestClass@61832929]">&gt;&gt;setUp</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@239465106</td>   <td></td> </tr>
<tr bgcolor="afa0ac">  <td>19/06/17 14:55:31</td>   <td>31</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="AddyTestClass.testingVote()[pri:0, instance:testClass.AddyTestClass@61832929]">testingVote</td> 
  <td>main@239465106</td>   <td></td> </tr>
</table>
